<% if @dealership_list == [] %>
  <h1>Enter a new dealership below.</h1>
  <% else %>
  <h1>Dealerships</h1>
<% end %>

<ul>
  <% @dealership_list.each do |dealership| %>
  <li><a href="/dealership/<%= dealership.id %>"><%= dealership.name %></a></li>
  <% end %>
</ul>


<form action="/dealerships" method="post">
  <div class="form-group">
    <% if @dealership_list.length() == 0 %>
      <h3>Add a dealership to get started:</h3>
      <% else %>
      <h3>Add another dealership:</h3>
    <% end %>
    
    <input name="dealership_name" id="dealership_name" type="text" class="form-control">
    <button type="submit">Submit</button>
  </div>
</form>
